@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins&display=swap');

.container__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px; 
  border: black solid 3px;
  background: white;
  width: 30%;
}

.card__title {
  font-family: 'Meow Script', cursive;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: black;
  color: #FF512A;
  border-radius: 1px; 
}

.card > .card__content {
  align-items: center;

}

.card__content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  text-align: center;
}
