@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins&display=swap');

html {
  background-color: black;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#root {
  background-color: white;
  padding-bottom: 2rem;
}

.home__page {
  padding: 1rem;
  margin: 3rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.circle {
  background: black;
  border-radius: 50%;
  height: 25em;
  position: relative;
  width: 25em;
}

.circle__content {
  hyphens: auto;
  display: block;
  margin: 2em;
  text-align: center;
  padding-top: 2rem;
}

/**
 * Enhanced experience
 *
 * Credit: https://skeate.github.io/2015/07/13/Wrapping-Text-to-Fit-Shaped-Containers-with-CSS.html
 */

 @supports (shape-outside: circle(50%)) {
  .circle-content {
    height: 100%;
    margin: 0;
  }
  
  .circle::before,
  .circle-content::before {
    content: "";
    height: 100%;
    width: 50%;
  }
  
  .circle::before {
    float: left;
    shape-outside: polygon(
      0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%,
      5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%
    );
  }
  
  .circle-content::before {
    float: right;
    shape-outside: polygon(
      100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%,
      95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%
    );
  }
}

.welcome__title {
  font-family: 'Meow Script', cursive;
  color: #FF512A;
  font-weight: bold;
  font-size: 3rem;
}

.welcome__text {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.5rem;
}

.welcome__p {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.5rem;
}

button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
  border: solid #FF512A;
  background-color: #FF512A;
  color: white;
  font-family: 'Meow Script', cursive;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  max-width: 11ch;
  max-height: 11ch;
  line-height: 2rem;
}

button:hover {
  background-color: #FF3366;
  border: solid #FF3366;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }