@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins&display=swap');

main {
  display: flex;
  justify-content: center;
}

.trip__form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px; 
  border: black solid 3px;
  background: white;
  width: 75%;
  margin-top: 2rem;
}

.trip__form__title {
  display: block;
  font-family: 'Meow Script', cursive;
  text-align: center;
  font-size: 2.5rem;
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: black;
  color: #FF512A;
  border-radius: 1px; 
}

.form-group, .form__images, 
.form__location,
.form__dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form__dates {
  margin-bottom: 1rem;
}

.form__fields {
  margin: 1rem;
}

.save__trip__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 6ch;
}

.trip__form__btn {
  display: flex;
  justify-content: center;
  padding: 1rem;

}

.content__box {
  font-family: 'Poppins', sans-serif;
  border-color: #FF512A;
  margin-bottom: .5rem;
}
