@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins&display=swap');

.trip__list__page {
  padding-top: 5rem;
  display: flex;
}

.container__cards button {
  display: flex;
  align-items: center;
  max-width: 6ch;
}

.container__cards {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px; 
  border: black solid 3px;
  background: white;
  width: 30%;
}

.trip__card__title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 1.25rem;
  background-color: black;
  color: white;
  border-radius: 1px; 
}

.card__content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  text-align: center;
}

.create__trip__btn {
  padding-top: 10rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 11ch;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .container__cards {
    flex-direction: column;
    width: 100%;
  }

  .card {
    width: 100%;
  }
}