@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

* {
  box-sizing: border-box;
}

.navbar {
  height: 7rem;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: black;
  align-items: flex-start;
  font-family: 'Meow Script', cursive;
}

.navbar__title {
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  display: block;
  padding: 1.75rem;
}

.navbar__menu {
  width: 75%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.navbar__item li {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-size: 2.25rem;
  display: block;
}

.navbar__link:hover {
  color: #FF512A;
}

.toggle__button {
 position: absolute;
 top: 2.5rem;
 right: 2rem;
 display: none;
 flex-direction: column;
 justify-content: space-between;
 width: 30px;
 height: 21px;
}

.toggle__button .bar {
  height: 3px;
  width: 100%;
  background-color: #FF512A;
  border-radius: 10px;
}

@media (max-width: 985px) {
  .toggle__button {
    display: flex;
    transition: 0.4s ease-in;
  }

  .navbar__item {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__title {
    padding-top: 5rem;
    padding-left: 4.25rem;
  }

  .navbar__item li {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  } 

  .navbar__item li a {
    padding: .5rem 1rem;
  } 
}

/* .navigation__menu {
  margin-left: auto;
} */

/* .navigation__menu ul {
  margin-top: 1.25rem;
  padding: 0;
  display: flex;
} */

/* .navigation__menu li {
  list-style-type: none;
  text-align: none;
  margin: 0 1rem;
} */

/* .navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
} */



/* .hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #FF512A;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
} */

/* @media screen and (max-width: 893px) {
  .hamburger {
    display: block;
  }

  .navigation__menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: black;
    border-top: 1px solid black;
    display: none;
  }

  .navigation__menu.expanded ul {
    display: block;
  }

  .navigation__menu li {
    text-align: center;
    margin: 0;
  }

  .navigation__menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation__menu li:hover {
    color: FF512A;
  }
} */

/* .navbar ul {
  width: 100%;
  flex-direction: column;
  text-align: center;
} */

/* .navbar li a {
  padding: .5rem 1rem;
} */

/* .navbar.active {
  display: flex;
} */