@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins&display=swap');

.login__form__section {
  display: flex;
  justify-content: center;
  height: 50rem;
}

fieldset {
  min-width: 0;
  margin: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

.form--login > fieldset > input[type="username"],
.form--login > fieldset > input[type="password"] {
  text-align: center;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
}

.login__title {
  display: block;
  font-family: 'Meow Script', cursive;
  text-align: center;
  font-size: 2.5rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
  background-color: black;
  color: #FF512A;
  border-radius: 1px; 
}

.gogal__title {
  font-weight: bold;
}

.label--login {
  width: 8rem;
  display: inline-block;
}

#username {
  justify-content: center;
}

.user__name {
  padding-top: 2rem;
}

.form-control {
  width: 90%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #FF512A;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form--login {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px; 
  border: black solid 3px;
  background: white;
  width: 75%;
  margin: 2rem;
  text-align: center;

}

.sign__in__btn__container {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.sign__in__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 5.5ch;
}

.link--register {
  font-family: 'Poppins', sans-serif;
}